/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
form {
  margin: 1em;
	padding: 1.5em;
}
#quick-start-sign-in,
#quick-start-sign-up {
  background-color: hsl(0, 72%, 45%);
}
h1 {
  font-size: 5em;
	font-style: strong;
	color: hsl(0, 72%, 45%);
}
.header {
  color: hsl(0, 72%, 45%);
}
button,
optgroup,
select,
textarea {
  color: hsl(0, 72%, 45%);
}
a:active,
a:hover {
  color: hsl(0, 72%, 45%);
}
nav ul a,
nav .brand-logo {
  color: lightgrey;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: hsl(0, 72%, 45%);
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}
.nav-wrapper {
  color: #333;
}
#workoutsRow {
  text-align: center;
  margin-top: 1em;
  color: hsl(0, 72%, 45%);
  font-size: 3em;
}
h4 {
  color: hsl(0, 72%, 45%);
  text-align: center;
}
#dashboardHeader {
  margin-top: 1.25em;
  font-size: 6.5em;
  color: hsl(0, 72%, 45%);
}
#userPic {
  text-align: center;
}
#userInfo {
  text-align: center;
  color: hsl(0, 6%, 25%);
  font-size: 1.5em;
}
#profile-image {
  margin-top: 1em;
}
#clickToUpdate {
  color: hsl(0, 72%, 45%);
}
li {
  color: hsl(0, 6%, 25%);
  font-size: 1.5em;
}
footer {
  /* background-color: hsl(0, 6%, 25%); */
}
.page-footer {
  background-color: hsl(0, 72%, 45%);
}
#profileInfo {
  color: hsl(0, 72%, 45%);
}
#profileWorkouts {
  color: hsl(0, 72%, 45%);
}
h5 {
  margin-top: 1.5em;
  background-color: hsl(0, 72%, 45%);
	color: lightgray;
	padding: .25em;
}
h6 {
  font-size: 2.5em;
}
#video-query {
  width: 20%;
  border: solid 1px hsl(0, 72%, 45%);
}
#search-button {
  background-color: hsl(0, 72%, 45%);
}
#createAccount {
}
#loginAccount {
}
h2 {
	color: hsl(0, 72%, 45%);
}
#pageFooter {
	background-color: black;
}
#footerCopy {
	background-color: black;
	padding-left: 42%;
}
.bio {
	font-size: 2em;
	color: lightgrey;
}
.teamNames {
	font-size: .75em;
	color: hsl(0, 72%, 45%);
}
.bioPara {
	color: hsl(0, 72%, 45%);
}
.botto {
	padding: 2.5em;
}

